.header {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  z-index: 1000;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-right: 30px;
}

.play img {
  width: 2rem;
  height: auto;
  cursor: pointer;
}

.dots img {
  width: 2rem;
  height: auto;
  cursor: pointer;
}


@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-list {
    gap: 1rem;
    font-size: 0.9rem;
  }
}