@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100%;
  min-height: 100lvh;
  --color-1: #35B6FD; 
  --color-2: #2379A9;
  --color-3: #123D54;
  --color-4: #000000;
}

* {
  font-family: 'Chelsea Market', cursive;
}
